.experienceCardContainer {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #956bff 0%, #74e6ff 100%) border-box;
  border: 5px solid transparent;
  border-radius: 1rem;

  overflow: hidden;
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  transition: 0.4s ease-in-out;

  color: #353636;
  font-family: Khula;
}

.roleTitleContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.experienceCardContainer {
  height: 3.4rem;
}

.companyInfoContainer {
  display: flex;
  align-items: center;
}

.companyLogoContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.companyLogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.companyInfoContainer h2 {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  margin-left: 0.5rem;
}

.plusSign,
.minusSign {
  width: 2rem;
}

.plusSign.noShow {
  display: none;
}

.minusSign {
  display: none;
}

.minusSign.show {
  display: block;
}

.contentContainer {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
}

.subheadingContainer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.descriptionContainer {
  font-size: 0.7rem;
  line-height: 140%; /* 2.76163rem */
}

.tagsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}