@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");

.greetingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.37rem;
}

.greetingDesktop {
  display: none;
}

.greeting {
  color: #353636;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Khula;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 98.066%; /* 3.06456rem */

  width: 11.5rem;
  margin-bottom: 0.56rem;
}

.description {
  color: #353636;
  text-align: center;
  font-family: Khula;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 169.945%; /* 3.71756rem */
  margin-bottom: 0.31rem;
}

.descriptionChanging {
  background: linear-gradient(180deg, #956bff 0%, #74e6ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Khula;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 169.945%;
}

.bio {
  color: #353636;
  text-align: center;
  font-family: Khula;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 1.7rem */
  width: 19.5rem;
}

.learnMore {
  color: #353636;
  text-align: center;
  font-family: Khula;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 169.945%; /* 1.91188rem */
}

.homeButton {
  width: 3.125rem;
  height: 3.125rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  margin: 1.19rem 1.94rem 1.19rem 1.94rem;
}

.circlePic {
  height: 15.75rem;
  margin-top: 1.31rem;
  margin-bottom: 3rem;
}

.landingContainer {
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowDown {
  width: 1.25rem;
  height: 2.4375rem;
}

.expertiseTechContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 10rem; /* dummy value for now */
  width: 17.75rem;
  height: 38rem;

  /* background-color: red; */
  color: #353636;

  font-family: Khula;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 169.945%; /* 1.91188rem */
}

.expertiseText {
  font-family: Khula;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 169.945%; /* 3.1865rem */
  text-align: center;
}

.techStackText {
  font-family: Khula;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 169.945%; /* 3.1865rem */

  text-align: center;
}

.expertiseBraces,
.techStackBraces {
  background: linear-gradient(180deg, #956bff 0%, #74e6ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 665px) {
  .headshotContainer {
    flex-direction: row-reverse;
    margin-bottom: 1.5rem;
  }

  .greetingContainer {
    align-items: flex-start;
    width: 21rem;
    height: 23.3125rem;
    justify-content: center;
  }

  .greetingDesktop {
    display: block;
    color: #353636;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Khula;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 98.066%; /* 3.06456rem */
  }

  .greeting {
    display: none;
  }

  .description {
    text-align: left;
    font-size: 1.9rem;
  }

  .descriptionChanging {
    font-size: 1.9rem;
  }

  .bio {
    text-align: left;
    font-size: 0.95rem;
    width: 21rem;
    margin: 0rem;
  }

  .circlePic {
    height: 17rem;
    margin: 0rem;
  }

  .learnMore {
    font-size: 1.1rem;
  }

  .arrowDown {
    width: 1.25rem;
    height: 1.1rem;
  }

  .expertiseTechContainer {
    flex-direction: row;
    width: 38rem;
    height: 27rem;
  }

  .expertiseText, .techStackText {
    text-align: left;
    font-size: 1.6rem;
  }

  .expertiseSplurge, .techStackSplurge {
    font-size: 1.1rem;
  }
  
  .expertiseContainer, .techStackContainer {
    width: 18rem;
  }

  .techStackContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 988px) {
  .headshotContainer {
    margin-bottom: 4rem;
  }
  .greetingContainer {
    width: 31rem;
  }

  .greetingDesktop {
    font-size: 4.2rem;
  }

  .description,
  .descriptionChanging {
    font-size: 2.6rem;
  }

  .bio {
    font-size: 1.4rem;
    width: 30rem;
  }

  .circlePic {
    height: 25rem;
  }

  .learnMore {
    font-size: 1.3rem;
  }

  .arrowDown {
    width: 1.5rem;
  }
}

@media screen and (min-width: 1212px) {
  .greetingContainer {
    width: 37.625rem;
  }

  .greetingDesktop {
    font-size: 5.5rem;
  }

  .description,
  .descriptionChanging {
    font-size: 3.3rem;
  }

  .bio {
    font-size: 1.5625rem;
    width: 34.25rem;
    height: 5.1875rem;
  }

  .circlePic {
    height: 30rem;
  }

  .learnMore {
    font-size: 1.7rem;
  }

  .arrowDown {
    width: 2rem;
  }

  .expertiseTechContainer {
    width: 79.6875rem;
    height: 38.1875rem;
  }
}
