@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");

.greetingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.37rem;
}

.greetingDesktop {
  display: none;
}

.greeting {
  color: #353636;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Khula;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 98.066%; /* 3.06456rem */

  width: 11.5rem;
  margin-bottom: 0.56rem;
}

.description {
  color: #353636;
  text-align: center;
  font-family: Khula;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 169.945%; /* 3.71756rem */
  margin-bottom: 0.31rem;
}

.descriptionChanging {
  background: linear-gradient(180deg, #956bff 0%, #74e6ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Khula;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 169.945%;
}

.bio {
  color: #353636;
  text-align: center;
  font-family: Khula;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 1.7rem */
  width: 19.5rem;
}

.learnMore {
  color: #353636;
  text-align: center;
  font-family: Khula;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 169.945%; /* 1.91188rem */
}

.homeButton {
  width: 3.125rem;
  height: 3.125rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  margin: 1.19rem 1.94rem 1.19rem 1.94rem;
}

.circlePic {
  height: 15.75rem;
  margin-top: 1.31rem;
  margin-bottom: 3rem;
}

.landingContainer {
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowDown {
  width: 1.25rem;
  height: 2.4375rem;
}

@media screen and (min-width: 650px) {
  .headshotContainer {
    flex-direction: row-reverse;
  }

  .greetingContainer {
    align-items: flex-start;
    width: 24rem;
    height: 23.3125rem;
    justify-content: center;
  }

  .greetingDesktop {
    display: block;
    color: #353636;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Khula;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 98.066%; /* 3.06456rem */
  }

  .greeting {
    display: none;
  }

  .description {
    text-align: left;
    font-size: 2.2rem;
  }

  .descriptionChanging {
    font-size: 2.2rem;
  }

  .bio {
    text-align: left;
    font-size: 1.1rem;
    width: 24rem;
    /* height: 5.1875rem; */
    margin: 0em;
  }

  .circlePic {
    height: 20em;
    margin: 0em;
  }

  .learnMore {
    font-size: 1.3rem;
  }

  .arrowDown {
    width: 2rem;
  }
}

@media screen and (min-width: 988px) {
  .headshotContainer {
    flex-direction: row-reverse;
  }

  .greetingContainer {
    align-items: flex-start;
    width: 31rem;
    height: 23.3125rem;
    justify-content: center;
  }

  .greetingDesktop {
    display: block;
    color: #353636;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Khula;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 98.066%; /* 3.06456rem */
  }

  .greeting {
    display: none;
  }

  .description {
    text-align: left;
    font-size: 2.6rem;
  }

  .descriptionChanging {
    font-size: 2.6rem;
  }

  .bio {
    text-align: left;
    font-size: 1.4rem;
    width: 30rem;
    /* height: 5.1875rem; */
    margin: 0em;
  }

  .circlePic {
    height: 25em;
    margin: 0em;
  }

  .learnMore {
    font-size: 1.3rem;
  }

  .arrowDown {
    width: 2rem;
  }
}

/* when greater than 1212 do this */
@media screen and (min-width: 1212px) {
  .headshotContainer {
    flex-direction: row-reverse;
  }

  .greetingContainer {
    align-items: flex-start;
    width: 37.625rem;
    height: 23.3125rem;
  }

  .greetingDesktop {
    display: block;
    color: #353636;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Khula;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 98.066%; /* 3.06456rem */

    width: 32.375rem;
    height: 11.75rem;
  }

  .greeting {
    display: none;
  }

  .description {
    text-align: left;
    font-size: 3.3rem;
  }

  .descriptionChanging {
    font-size: 3.3rem;
  }

  .bio {
    text-align: left;
    font-size: 1.5625rem;
    width: 34.25rem;
    height: 5.1875rem;
  }

  .circlePic {
    height: 30em;
  }

  .learnMore {
    font-size: 1.7rem;
  }

  .arrowDown {
    width: 2rem;
  }
}
